extends layout

block content
	header
		.title Fellow Followers
		.desc Outputs the followers in order from when they followed.
	form.ff-form.clearfix
		span.text I want to see the followers of :
		span.special @
		input.th-input(type='text', placeholder='twitter handle')
		span.text .
		button.find(type='submit') find
	div.results
		p.stext results
		button.back back
		ul.list.clearfix
			//li.clearfix
			//	span.number #12
			//	a(href="#")
			//		img(src="http://pbs.twimg.com/profile_images/523952875248943105/6OiECtB0_normal.jpeg")
			//		h3.name Andrea Jarvis
			//		p.screen_name @techyxz (140)




